@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700');

body{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  background-color:#403f4c;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

#profileMenuItem{
  display:none!important;
}

#mainContainerDiv{
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#contentDiv{
	height:90%;
	padding:0;
	margin:0;
	position:absolute;
	right:0;
	float:right;
	background-color:#403f4c!important;
	box-sizing: initial!important;
}

#profDetailsDiv{
  width: 100%;
  margin-bottom: 10%;
}

#profDetailsDiv p{
  margin: 0;
  padding: 0;
  color: black;
}

#sideNav{
	box-sizing:initial!important;
}

#pointsDiv{
  position: relative;
  height:30%;
  right:1%;
  top:5%;
}

#giveExerciseDiv{
  position: relative;
  height:30%;
  right:1%;
  top:5%;
}

#cardsHolderDiv{
  height:70%;
  position: relative;
  right:1%;
  top:5%;
}

#toDoExercisesDiv{
  margin-right: 5%;
  height:80%;
  position: relative;
  top:5%;
}

#doneExercisesDiv{
  height:80%;
  position: relative;
  top:5%;
}

@media (max-width: 992px){
	#pointsDiv{
		margin:auto;
		margin-top:15%;
	}

  #giveExerciseDiv{
    margin:auto;
		margin-top:15%;
  }

	#toDoExercisesDiv{
		margin:auto;
		margin-top:2%;
	}

	#doneExercisesDiv{
		margin:auto;
		margin-top:2%;
	}

  #profileMenuItem{
    display: block!important;
  }
}

@media (max-width: 576px){
	#pointsDiv{
		margin:auto;
		margin-top:20%;
	}

  #giveExerciseDiv{
    margin:auto;
		margin-top:20%;
  }

	#toDoExercisesDiv{
		margin:auto;
		margin-top:2%;
	}

	#doneExercisesDiv{
		margin:auto;
		margin-top:2%;
	}

  #profileMenuItem{
    display: block!important;
  }
}
