

body{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  padding:0;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

#headerText{
	float:left;
	position:absolute;
	left:0;
	display:inline-block;
}

#langSelector{
	width:20%;
	float:right;
	position:absolute;
	top:2.5%;
	right:2%;
	display:inline-block;
}

#mainContainerDiv{
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#bgImg{
	padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image:url("../img/beach.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
   position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#headerDiv{
	padding:0;
	margin:0;
	width:100%;
	height:10%;
	background-color:#696969;
	opacity: 0.8;
	vertical-align:center;
}

#headerDiv a h1{
	color:white;
	vertical-align:center;
	margin-left:2%;
	width:100%;
}

#textSection{
	margin:0;
	padding:0;
	height:90%;
}

#formsSection{
	margin:0;
	padding:0;
	height:90%;
}

#loginDiv{
	width:90%;
	height:70%;
	background-color:#696969;
	opacity: 0.9;
	position:absolute;
	top:15%;
	left:5%;
	border-radius:10px;
}

#registerDiv{
	width:90%;
	height:90%;
	background-color:#696969;
	opacity: 0.9;
	position:absolute;
	top:5%;
	left:5%;
	display:none;
	border-radius:10px;
}

#userIconDiv{
	height:30%;
	width:30%;
	margin-left:35%;
	margin-bottom:5%;
	margin-top:5%;
}

#profIcon{
	margin-top:5%;
	max-width:150px;
	max-height:150px;
	min-width:150px;
	min-height:150px;
	height:100%;
	width:100%;
}

#usernameInput{
	width:50%;
	margin-bottom:2%;
}

#passwordInput{
	width:50%;
	margin-bottom:2%;
}

#paragraphsDiv{
  width:90%;
	height:90%;
	background-color:#F0FFF0;
	opacity: 0.6;
	position:absolute;
	top:5%;
	left:5%;
	border-radius:10px;
}
#paragraphsDiv{
  overflow-y: scroll;
}

#paragraphsDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#paragraphsDiv::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#paragraphsDiv::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

#goalsHeader{
  margin: 0;
  padding: 0;
  padding-left:2%;
  width: 100%;
  background-color:#696969;
  position: absolute;
  left:0;
  right:0;
}

#goalsHeader h3{
  color: white;
}
