@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700');

body{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0;
  background-color:#403f4c;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

#mainContainerDiv{
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#contentDiv{
	min-height:100%;
	padding:0;
	margin:0;
	position:absolute;
	right:0;
	float:right;
	background-color:#403f4c!important;
	box-sizing: initial!important;
}

#profDetailsDiv{
  width: 100%;
  margin-bottom: 10%;
}

#profDetailsDiv p{
  margin: 0;
  padding: 0;
  color: black;
}

#profileMenuItem{
  display:none!important;
}

#sideNav{
	box-sizing:initial!important;
}


#familysContainerDiv{
	width:99%;
	position:relative;
	right:1%;
	margin-top:10%;
	background-color:#F5F5F5;
}

#familyContainerDiv{
	width:99%;
	position:relative;
	right:1%;
	margin-top:5%;
	background-color:#F5F5F5;
}

#familyDiv{
	float:left!important;
	position:absolute!important;
	left:10%!important;
	top:2%!important;
}

#tableDiv{
	float:left;
	position:absolute;
	left:10%;
	top:50%;
	width:80%;
}

#cardsDiv{
	margin-bottom:2%;
	margin-top:2%;
	margin-left:2%;
	margin-right:2%;
}

#createDiv{
	margin-right:10%;
}

#familySelect{
	display:inline-block;
	width:30%;
	position:relative;
  left:2%;
}

#connectOtherFamilyButton{
  display:inline-block;
	width:50%;
	float:right;
	position:relative;
	right:0;
}

.familyMember{
  width:60%;
  display: inline-block;
}

.routineButtonDiv{
  width:10%;
  height:60%;
  display:inline-block;
  position: absolute;
  right: 5%;
}

.routineButtonDiv i{
  font-size: 1.5em;
}

#familyDetailsDiv{
	width:100%;
	max-height:800px;
	height:100%;
	overflow-y: scroll;
}

.memberRoutineInfosDiv{
  overflow-y: scroll;
}

#familyDetailsDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#familyDetailsDiv::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#familyDetailsDiv::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.memberRoutineInfosDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.memberRoutineInfosDiv::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.memberRoutineInfosDiv::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

@media (max-width: 992px){
	#familysContainerDiv{
		margin:auto;
		margin-top:15%;
	}

	#familyContainerDiv{
		margin:auto;
		margin-top:15%;
	}

	#createDiv{
		margin-bottom:5%;
	}

	#familySelect{
		width:50%;
	}

  .routineButtonDiv{
    left: 65%;
    top:25%;
  }

  #profileMenuItem{
    display: block!important;
  }
}

@media (max-width: 576px){
	#familysContainerDiv{
		margin-top:20%;
	}

	#familyContainerDiv{
		margin-top:20%;
	}

	#createDiv{
		margin-bottom:5%;
	}

	#familySelect{
		width:50%;
	}

  .routineButtonDiv{
    left: 65%;
    top:25%;
  }

  #profileMenuItem{
    display: block!important;
  }
}
